# Python / backend
__pycache__/
venv/
*.pyc

# ML models (VERY IMPORTANT)
backend/saved_model/
*.keras
*.h5

# Dataset (too large for GitHub)
backend/dataset/

# Uploads (runtime images)
backend/uploads/

# Node / frontend
node_modules/
dist/

# IDE files
.vscode/
.DS_Store